<div class="modal-content">
        <div class="modal-header bordered">
            <button class="close" type="button" ng-click="editContactUsCtrl.close()">×</button>
            <h2 class="pmd-card-title-text">{{'UpdateContactUsLbl' | translate}}</h2>
        </div>
    
        <div class="modal-body">
            <form class="form-horizontal" name="newContactUsForm" autocomplete="off">
                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label>{{'Email' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="email" ng-model="editContactUsCtrl.contactUsObj.email" ng-pattern="/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/">
                    <span class="error" ng-show="newContactUsForm.email.$error.pattern">{{'WrongMail' | translate}}   </span>
                    <div ng-messages="newContactUsForm.email.$error" class="error">
                        <div ng-if="newContactUsForm.email.$error.required && !newContactUsForm.email.$pristine">{{'EmailRequiredError' | translate}}</div>
                    </div>
                </div>

                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label>{{'OwnerEmail' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="ownerEmail" ng-model="editContactUsCtrl.contactUsObj.ownerEmail" ng-pattern="/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/">
                    <span class="error" ng-show="newContactUsForm.ownerEmail.$error.pattern">{{'WrongMail' | translate}}   </span>
                    <div ng-messages="newContactUsForm.ownerEmail.$error" class="error">
                        <div ng-if="newContactUsForm.ownerEmail.$error.required && !newContactUsForm.ownerEmail.$pristine">{{'EmailRequiredError' | translate}}</div>
                    </div>
                </div>

                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'MobileNumberLbl' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="mobileNumber" numbers-only ng-model="editContactUsCtrl.contactUsObj.companyNumber" ng-minlength="10" ng-maxlength="50">
                    <div ng-messages="newContactUsForm.mobileNumber.$error" class="error">
                        <div ng-if="newContactUsForm.mobileNumber.$error.required && !newContactUsForm.mobileNumber.$pristine">{{'MobileNumberReqError' | translate}}</div>
                        <div ng-if="(newContactUsForm.mobileNumber.$error.minlength || newContactUsForm.mobileNumber.$error.maxlength)">{{'MonileNumberLengthError' | translate}}</div>
                    </div>
                </div>

                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'WhatsAppNumberLbl' | translate}}</label>
                    <input required type="text" class="mat-input form-control" name="whatsappNumber" numbers-only ng-model="editContactUsCtrl.contactUsObj.whatsAppNumber" ng-minlength="10" ng-maxlength="50">
                    <div ng-messages="newContactUsForm.whatsappNumber.$error" class="error">
                        <div ng-if="newContactUsForm.whatsappNumber.$error.required && !newContactUsForm.whatsappNumber.$pristine">{{'MobileNumberReqError' | translate}}</div>
                        <div ng-if="(newContactUsForm.whatsappNumber.$error.minlength || newContactUsForm.whatsappNumber.$error.maxlength)">{{'MonileNumberLengthError' | translate}}</div>
                    </div>
                </div>

                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <!-- <label for="first-name">{{'Location' | translate}}</label>                     -->
                    <label for="first-name">{{'Location' | translate}}</label> <label ng-mouseover="view = true" ng-init="view = false" style="color: red">?</label>
                    <p style="color: blue; font-size: 10px" ng-bind-html="LocationDetails" ng-show="view == true"></p>
                    <input required type="text" class="mat-input form-control" name="location" ng-model="editContactUsCtrl.contactUsObj.location" ng-minlength="3" ng-maxlength="500">
                    <div ng-messages="newContactUsForm.location.$error" class="error">
                            <div ng-show="newContactUsForm.location.$error.pattern">{{'TextOnly' | translate}}</div>
                            <div ng-if="newContactUsForm.location.$error.required && !newContactUsForm.location.$pristine">{{'requiredErr' | translate}}</div>
                            <div ng-if="(newContactUsForm.location.$error.minlength || newContactUsForm.location.$error.maxlength) && !newContactUsForm.location.$error.required">{{'NameLengthError500' | translate}}</div>
                    </div>
                </div>

                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'FacebookLink' | translate}}</label>
                    <input ng-pattern="/^(http:\/\/|https:\/\/)?[_a-z0-9]+(\.[_a-z0-9]+)*[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,7})$/" type="text" class="mat-input form-control" name="facebookLink" ng-model="editContactUsCtrl.contactUsObj.facebookLink">
                    <div ng-messages="newContactUsForm.facebookLink.$error" class="error">
                        <div ng-show="newContactUsForm.facebookLink.$error.pattern">{{'LinkOnly' | translate}}</div>
                    </div>
                </div>

                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'GmailLink' | translate}}</label>
                    <input ng-pattern="/^(http:\/\/|https:\/\/)?[_a-z0-9]+(\.[_a-z0-9]+)*[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,7})$/" type="text" class="mat-input form-control" name="gmailLink" ng-model="editContactUsCtrl.contactUsObj.gmailLink">
                    <div ng-messages="newContactUsForm.gmailLink.$error" class="error">
                        <div ng-show="newContactUsForm.gmailLink.$error.pattern">{{'LinkOnly' | translate}}</div>
                    </div>
                </div>

                <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-completed">
                    <label for="first-name">{{'TwitterLink' | translate}}</label>
                    <input ng-pattern="/^(http:\/\/|https:\/\/)?[_a-z0-9]+(\.[_a-z0-9]+)*[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,7})$/" type="text" class="mat-input form-control" name="twitterLink" ng-model="editContactUsCtrl.contactUsObj.twitterLink">
                    <div ng-messages="newContactUsForm.twitterLink.$error" class="error">
                        <div ng-show="newContactUsForm.twitterLink.$error.pattern">{{'LinkOnly' | translate}}</div>
                    </div>
                </div>

                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label>
                            <input type="checkbox" ng-model="editContactUsCtrl.contactUsObj.showEmail" ng-checked="editContactUsCtrl.contactUsObj.showEmail">
                            {{'ShowEmail' | translate}}
                        </label>
                        <br/>
                        <label>
                            <input type="checkbox" ng-model="editContactUsCtrl.contactUsObj.showMobile" ng-checked="editContactUsCtrl.contactUsObj.showMobile">
                            {{'ShowMobile' | translate}}
                        </label>
                        <br/>
                        <label>
                            <input type="checkbox" ng-model="editContactUsCtrl.contactUsObj.showOwnerEmail" ng-checked="editContactUsCtrl.contactUsObj.showOwnerEmail">
                            {{'ShowOwnerEmail' | translate}}
                        </label>
                        <br/>
                        <label>
                            <input type="checkbox" ng-model="editContactUsCtrl.contactUsObj.showWhatsApp" ng-checked="editContactUsCtrl.contactUsObj.showWhatsApp">
                            {{'ShowWhatsApp' | translate}}
                        </label>
                        <br/> 
                        <label>
                            <input type="checkbox" ng-model="editContactUsCtrl.contactUsObj.showFacebook">
                            {{'ShowFacebook' | translate}}
                        </label>
                        <br/>
                        <label>
                            <input type="checkbox" ng-model="editContactUsCtrl.contactUsObj.showGmail">
                            {{'ShowGmail' | translate}}
                        </label>
                        <br/>
                         <label>
                            <input type="checkbox" ng-model="editContactUsCtrl.contactUsObj.showTwitter">
                            {{'ShowTwitter' | translate}}
                        </label>
                        <br/>
                    </div>
            </form>
            
            <div class="pmd-modal-action text-right">
                <button ng-disabled="newContactUsForm.$invalid" class="btn pmd-ripple-effect btn-primary" type="button" ng-click="UpdateContactUs()">{{'Edit' | translate}}</button>
            </div>
    
        </div>
    </div>
    
    